body{
    font-family: 'Prompt', sans-serif;   
    font-size: 20px;
    font-style: bold;
    margin-top: 30px;   
    text-align: center;
    background: url(fundo2.jpg);
    position: fixed;
    display: grid;
    position: relative; 
    justify-content: center;       
    
}

hr{
    border: 2px solid rgba(224, 196, 35, 0.911);
}

header{    
    text-align: center;       
    display: grid;
    padding: 30px 30px 30px 30px;     
    font-size: 20px; 
    font-style: bold;
    margin-bottom: 30px;  
    background-color:rgba(45, 20, 114, 0.801);
    color: white;
    border: 4px solid rgba(224, 196, 35, 0.911);
      
}   


h1{          
    animation: slidein;
    animation-duration: 1s;      
    align-items: center;     
    
}

div#main-content{
    line-height: 50px;
    border: 4px solid rgba(224, 196, 35, 0.911);
    background-image: linear-gradient(to right, rgb(123, 68, 185), rgb(81, 203, 219));
    padding: 15px 15px 15px 15px;   
    text-align: center;
    text-decoration: none;
    display: grid;    
        
}

#navMenuButton{
    text-align: center;        
    border: 4px solid rgba(224, 196, 35, 0.911);
    display: inline-block;        
    justify-content: space-between;    
    background: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    animation: slidein;
    animation-duration: 5s;   
    
}

#navMenuButton:hover{
    background-color:rgba(243, 80, 15, 0.767);
    cursor: pointer;
        
}

#pedras{
    text-decoration: none;    
    font-family: 'Prompt', sans-serif;   
    font-size: 17px;    
    font-style: bold;
    color: black;
    
}


footer{
    margin-bottom: 50px;
    margin-top: 50px;   
}

#subir {
    background-color:rgba(45, 20, 114, 0.801);    
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
    color: white;
    cursor: pointer;  
    justify-content: center;
    padding: 15px 15px 15px 15px;
    font-family: 'Prompt', sans-serif; 
    font-size: 13pt;
    text-align: center;   
    border: 4px solid rgb(221, 190, 15);    
    text-decoration: none;
    align-items: center;
    
}

@keyframes slidein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




@media (min-width: 800px) {
    html{
        font-size: 50%;
    }
}